{% extends "layout.html" %}

{% block pageTitle %}
  Page not found
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Page not found</h1>
        <p class="govuk-body">
          If you typed the web address, check it is correct.
        </p>
        <p class="govuk-body">
          If you pasted the web address, check you copied the entire address.
        </p>
        <p class="govuk-body">
          If the web address is correct or you selected a link or button, <a href="#" class="govuk-link">contact the Tax Credits Helpline</a> if you need to speak to someone about your tax credits.
        </p>

        <h2 class="govuk-heading-m">By phone</h2>

        <ul class="govuk-list">
          <li>
            Monday to Friday 8.30am to 6pm
          </li>
          <li>
            Phone: +44 (0)303 1234 500
          </li>
          <li>
            Minicom: 02920 381245
          </li>
          <li>
            <a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>
          </li>
        </ul>
    </div>
  </div>
{% endblock %}