
{% extends "layout.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Tell us about additional copies 
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/more-information"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
  <h1 class="govuk-heading-xl"> How many additional copies of the certificate do you need?</h1>

    {{ govukSelect({
      id: "numberOfCopies",
      name: "numberOfCopies",
      label: {
        text: "Additional copies"
      },
      items: [
        {
          value: "0",
          text: "0"
        },
        {
          value: "1",
          text: "1"
        },
        {
          value: "2",
          text: "2"
        },
        {
          value: "3",
          text: "3"
        },
        {
          value: "4",
          text: "4"
        },
        {
          value: "5",
          text: "5"
        },
        {
          value: "6",
          text: "6"
        },
        {
          value: "7",
          text: "7"
        },
        {
          value: "8",
          text: "8"
        },
        {
          value: "9",
          text: "9"
        },
        {
          value: "10",
          text: "10"
        }
      ]
    }) }}

    {{ govukButton({
     text: "Continue",
     href:"/delivery-time"
    }) }}

  </div>
</div>

{% endblock %}
