{% extends "layout.html" %}

{% block pageTitle %}
Choose certificate information
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "CHS-signin"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/certificate-details-incorporation" method="post">

        {{ govukCheckboxes({
            idPrefix: "more-info",
            name: "more-info",
            fieldset: {
            legend: {
            text: "What information would you like to be included on the certificate?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "Select all that apply."
        },
        items: [
          {
            value: "good-standing",
            text: "Statement of good standing",
            hint: {
        text: "A statement that the company is in good standing (not added if the company is not in good standing)."
        }
        },
        {
              value: "registered-office",
              text: "Registered office address",
              hint: {
          text: "This can include current and previous addresses. No dates are included."
        }
        },
          {
              value: "directors",
              text: "Directors",
              hint: {
          text: "The names of all current company directors."
        }
        },
          {
              value: "secretaries",
              text: "Secretaries",
              hint: {
          text: "The names of all current company secretaries."
        }
        },
            {
              value: "company-objects",
              text: "Company objects",
              hint: {
          text: "Summary of company objects."
        }
        }
        ]
        }) }}

        
        {{ govukButton({
          text: "Continue"
        }) }}

  </form>
</div>
</div>
{% endblock %}