
{% extends "layout.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Check order details 
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "reference"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Check your order details</h1>
      <h2 class="govuk-heading-m">Contact details</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: "Hannah Thomas"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Email"
            },
            value: {
              html: '<p class="govuk-body">sarah.phillips@example.com</p>'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "contact details"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Order details</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Certificate type"
            },
            value: {
              text: "Incorporation"
            }
          },
           {
            key: {
              text: "Good standing"
            },
            value: {
              text: "Yes"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "additional information"
                }
              ]
            }
          },
          {
            key: {
              text: "Delivery type"
            },
            value: {
              text: "Standard collection (4 days)"
            }
          },
          {
            key: {
              text: "Collection office"
            },
            value: {
              text: "London"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "delivery method"
                }
              ]
            }
          },
          {
            key: {
              text: "Reference details"
            },
            value: {
              text: "Holidays Ltd"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "delivery method"
                }
              ]
            }
          },
          {
            key: {
              text: "Cost"
            },
            value: {
              text: "£15.00"
            }
          }
        ]
      }) }}

      <form action="/form-handler" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        {{ govukButton({
          text: "Continue to payment",
          href:"gov-pay"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}