
{% extends "layout.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Check order details 
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "ordering-journey"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Check your order details</h1>
      <h2 class="govuk-heading-m">Delivery details</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: "Hannah Thomas"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Address"
            },
            value: {
              html: "72 Guild Street<br>London<br>SE23 6FH"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "address"
                }
              ]
            }
          },
          {
            key: {
              text: "Email"
            },
            value: {
              html: '<p class="govuk-body">sarah.phillips@example.com</p>'
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "contact details"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">Certificate details</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Certificate type"
            },
            value: {
              text: "Incorporation"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "certificate type"
                }
              ]
            }
          },
          {
            key: {
              text: "Delivery option"
            },
            value: {
              text: "Same day (£50.00)"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "delivery option"
                }
              ]
            }
          },
          {
            key: {
              text: "Delivery method"
            },
            value: {
              text: "Post and email"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "delivery method"
                }
              ]
            }
          },
          {
            key: {
              text: "Additional copies"
            },
            value: {
              text: "No"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "additional copies"
                }
              ]
            }
          },
          {
            key: {
              text: "Additional information"
            },
            value: {
              html: "Good standing</br> Directors"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "additional information"
                }
              ]
            }
          }

        ]
      }) }}

      <h2 class="govuk-heading-m">Costs</h2>

      {{ govukSummaryList({
        classes: 'govuk-!-margin-bottom-9',
        rows: [
          {
            key: {
              text: "Certificate"
            },
            value: {
              text: "£50.00"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "cost"
                }
              ]
            }
          },
          {
            key: {
              text: "Additional copies"
            },
            value: {
              text: "0"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "additional cost"
                }
              ]
            }
          },
          {
            key: {
              text: "Total"
            },
            value: {
              text: "£50.00"
            },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Change",
                  visuallyHiddenText: "additional cost"
                }
              ]
            }
          }
          
        ]
      }) }}

      <form action="/form-handler" method="post" novalidate>

        <input type="hidden" name="answers-checked" value="true">

        {{ govukButton({
          text: "Continue to payment",
          href:"payment-service"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}