
{% extends "layout.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Tell us about collection details
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/filing-history"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Collection details</h1>

    <div class="govuk-form-group">
      <label class="govuk-label" for="full-name">
        Full name of person collecting certificate
      </label>
      <input class="govuk-input" id="full-name" name="full-name" type="text" autocomplete="name" spellcheck="false">
    </div>

    {{ govukRadios({
      idPrefix: "collection",
      name: "collection",
      fieldset: {
        legend: {
          text: "Where do you want to collect your certificate from?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--m"
        }
      },
      hint: {
        text: "You’ll need to prove your identity when you collect the certificate. Opening hours are between 9am to 5pm (Monday to Friday)."
      },
      items: [
        {
          value: "cardiff-office",
          text: "Cardiff",
          label: {
            classes: "govuk-label--s"
          }
        },
        {
          value: "london-office",
          text: "London",
          label: {
            classes: "govuk-label--s"
          }
        },
        {
          value: "belfast-office",
          text: "Belfast",
          label: {
            classes: "govuk-label--s"
          }
        },
        {
          value: "edinburgh-office",
          text: "Edinburgh",
          label: {
            classes: "govuk-label--s"
          }
        }
      ]

    }) }}

    {{ govukButton({
         text: "Continue",
         href: "name-and-address"
    }) }}
  </div>
</div>
{% endblock %}
