
{% extends "layout.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Tell us about collection details
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "good-standing"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="" method="post" novalidate>
        {{ govukRadios({
          idPrefix: "which-companies-house-collection-office-do-you-want-to-collect-from",
          name: "which-companies-house-collection-office-do-you-want-to-collect-from",
          fieldset: {
            legend: {
              text: "Which Companies House office do you want to collect from?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
           text: "Opening hours are between 9am to 5pm (Monday to Friday)."
          },
          items: [
            {
              value: "belfast",
              text: "Belfast"
            },
            {
              value: "cardiff",
              text: "Cardiff"
            },
            {
              value: "edinburgh",
              text: "Edinburgh"
            },
            {
              value: "london",
              text: "London"
            }
          ]
        }) }}
        {{ govukButton({
          text: "Continue",
          href: "order-details"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
