{% extends "layout.html" %}

{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}
  Tell us your company number
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "/order-a-certificate/CHS-signin"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="choose-certificate-type" method="post">
        {{ govukInput({
          label: {
          text: "What is the company number? ",
          classes: "govuk-label--xl"
          },
          hint: {
            text: "This is the 8 character reference issued by Companies House when the company was set up."
          },
          id: "company-number",
          name: "companyNumber"
        }) }}

        {{ govukDetails({
            summaryText: "Help with company number",
            html: "<p>Use the <a target='blank' href='https://beta.companieshouse.gov.uk/'>Companies House service</a> to find it.</p>"
        }) }}

        {{ govukButton({
          text: "Continue",
          href: "/order-a-certificate/confirm-company"
        }) }}

      </form>
    </div>
  </div>
{% endblock %}