{% extends "layout.html" %}
{% set mainClasses = "govuk-main-wrapper--l" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block beforeContent %}
 {{ govukBackLink({
    text: "Return to filing history",
    href: "start"
  }) }}
{% endblock %}

{% block pageTitle %}
  Confirmation of order
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Certificate order confirmed",
        html: "Your reference number<br><strong>3161-204-251-249-0359</strong>"
      }) }}

      <h1 class="govuk-heading-m">What happens next</h1>
      <p class="govuk-body">We’ll email you within 4 working days to let you know that the certificate is ready for collection from the [Cardiff] office.</p>

      <p class="govuk-body">You must have the reference number when you collect the order.</p> 

      {{ govukInsetText({
        html: "<strong>Collection address</strong></br>Crown Way</br>Cardiff</br>CF14 3UZ</br>Cardiff</br>United Kingdom"
      }) }}
    </div>
  </div>
{% endblock %}