{% extends "layout.html" %}
{% set mainClasses = "govuk-main-wrapper--l" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block beforeContent %}
 {{ govukBackLink({
    text: "Return to filing history",
    href: "start"
  }) }}
{% endblock %}

{% block pageTitle %}
  Confirmation of order
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Certificate ordered",
        html: "Your reference number<br><strong>316-120425-12490359</strong>"
      }) }}

      <h2 class="govuk-heading-m">What happens next</h2>
      <p class="govuk-body">
        Your order will ...
      </p>


    </div>
  </div>
{% endblock %}