
{% extends "layout.html" %}

{% block pageTitle %}
  How would you like to receive the certificate?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: ""
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/delivery-type" method="post">



      {{ govukRadios({
        idPrefix: "delivery-type",
        name: "delivery-type",
        fieldset: {
          legend: {
            text: "How would you like to receive the certificate?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "collection",
            text: "Collect from a Companies House office",
            hint: {
              text: "including Belfast, Cardiff, Edinburgh and London"
            }
          },
          {
            value: "delivery",
            text: "Delivery"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

      </form>
  </div>
</div>  
{% endblock %}