
{% extends "layout.html" %}

{% block pageTitle %}
  Tell us about delivery details
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "delivery-type"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/delivery-address" method="post">
        <h1 class="govuk-heading-xl">What is your delivery address?</h1>

        {% if errorFullName == true or errorAddressLineOne  == true or errorTownCity == true or errorPostcode == true %}

          {{ govukErrorSummary({
              titleText: "There is a problem",
              errorList: errorList
            }) }}
          {% endif %}

          {% if errorFullName  == true %}
            {{ govukInput({
              label: {
                text: "Full name"
              },
              id: "full-name",
              name: "full-name",
              autocomplete: "name",
              errorMessage: {
                text: "Enter full name"
              },
              attributes: {
                spellcheck: "false"
              }
              
            }) }}
          {% else %}
            {{ govukInput({
            label: {
              text: "Full name"
            },
            id: "full-name",
            name: "full-name",
            autocomplete: "name",
            attributes: {
              spellcheck: "false"
            }
          }) }}
          {% endif %}

          {% if errorAddressLineOne  == true %}
            {{ govukInput({
              label: {
                html: 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
              },
              id: "address-line-1",
              name: "address-line-1",
              autocomplete: "address-line1",
              errorMessage: {
                text: "Enter a building and street"
              }
            }) }}

            {{ govukInput({
                label: {
                  html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
                },
                id: "address-line-2",
                name: "address-line-2",
                autocomplete: "address-line2"
            }) }}

            {% else %}
            {{ govukInput({
              label: {
                html: 'Building and street <span class="govuk-visually-hidden">line 1 of 2</span>'
              },
              id: "address-line-1",
              name: "address-line-1",
              autocomplete: "address-line1"
            }) }}

            {{ govukInput({
                label: {
                  html: '<span class="govuk-visually-hidden">Building and street line 2 of 2</span>'
                },
                id: "address-line-2",
                name: "address-line-2",
                autocomplete: "address-line2"
            }) }}
            {% endif %}

            {% if errorTownCity  == true %}
              {{ govukInput({
                label: {
                  text: "Town or city"
                },
                classes: "govuk-!-width-two-thirds",
                id: "address-town",
                name: "address-town",
                autocomplete: "address-level2",
                errorMessage: {
                text: "Enter a town or city"
                }
            }) }}
            {% else %}
              {{ govukInput({
                label: {
                  text: "Town or city"
                },
                classes: "govuk-!-width-two-thirds",
                id: "address-town",
                name: "address-town",
                autocomplete: "address-level2"
            }) }}
            {% endif %}
            
            {{ govukInput({
              label: {
                text: "County"
              },
              classes: "govuk-!-width-two-thirds",
              id: "address-county",
              name: "address-county"
            }) }}
            

            {% if errorPostcode  == true %}
            {{ govukInput({
              label: {
                text: "Postcode"
              },
              classes: "govuk-input--width-10",
              id: "address-postcode",
              name: "address-postcode",
              autocomplete: "postal-code",
              errorMessage: {
                text: "Enter a postcode"
              }
            }) }}
            {% else %}
            {{ govukInput({
              label: {
                text: "Postcode"
              },
              classes: "govuk-input--width-10",
              id: "address-postcode",
              name: "address-postcode",
              autocomplete: "postal-code"
            }) }}
            {% endif %}

            {{ govukInput({
              label: {
                text: "Country"
              },
              classes: "govuk-!-width-two-thirds",
              id: "address-country",
              name: "address-country"
            }) }}

          {{ govukButton({
            text: "Continue"
          }) }}

    </form>
  </div>
</div>  
{% endblock %}