
{% extends "layout.html" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Tell us about delivery
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/delivery-extra-copy"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
      {{ govukRadios({
        idPrefix: "delivery-method",
        name: "delivery-method",
        fieldset: {
          legend: {
            text: "When would you like to receive the certificate?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "next-day",
            text: "Express delivery and an email copy (£50.00)",
            hint: { 
              html: "Order by 2pm for delivery by tomorrow. "
            }
          },
          {
            value: "standard",
            text: "Standard delivery (£15.00)",
            hint: {
              text:"Delivery between 2 to 6 March"
          }
          }
        ]
      }) }}

      {{ govukButton({
       text: "Continue",
       href: "/order-a-certificate/delivery-method"
      }) }}
  </div>
</div>
{% endblock %}
