
{% extends "layout.html" %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Tell us about delivery method
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/delivery-time"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukCheckboxes({
      idPrefix: "delivery",
      name: "delivery",
      fieldset: {
        legend: {
          text: "How would you like to receive the certifcate for Filings LTD?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl"
        }
      },
      hint: {
        text: "Select all that apply."
      },
      items: [

        {
          value: "collect",
          text: "Collect from Companies House office",
          hint: {
          text: "including Belfast, Cardiff, Edinburgh and London"
        }
        },
        {
          value: "email",
          text: "Email"
        },
        {
          value: "post",
          text: "Post"
        }
        
      ]
    }) }}

    {{ govukButton({
      text: "Continue",
      href: "/order-a-certificate/collection"
    }) }}
  </div>
</div>
{% endblock %}