
{% extends "layout.html" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Tell us about email address
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "collection"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/email" method="post">

        {% if error  == true %}
          {{ govukErrorSummary({
              titleText: "There is a problem",
              errorList: errorList
          }) }}

          {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "changed-name",
            name: "changed-name",
            fieldset: {
              legend: {
                text: "Would you like a copy of the certificate sent to you by email?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            hint: {
              text: "We will send the certificate to the email address you signed in with."
            },
            errorMessage: {
              text: "Select yes if you would like a copy of the certificate sent to you by email"
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}

          {% else %}

          {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "changed-name",
            name: "changed-name",
            fieldset: {
              legend: {
                text: "Would you like a copy of the certificate sent to you by email?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            hint: {
              text: "We will send the certificate to the email address you signed in with."
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}

          {% endif %}

          {{ govukButton({
            text: "Continue"
          }) }}

    </form>
  </div>
</div>
{% endblock %}