
{% extends "layout.html" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Tell us about email address
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "collection"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Email address</h1>
      {{ govukInput({
        label: {
          text: "Email address"
        },
        hint: {
          text: "We’ll only use this to contact you about your order"
        },
        id: "email",
        name: "email",
        type: "email",
        autocomplete: "email",
        attributes: {
          spellcheck: "false"
        }
      }) }}

      {{ govukButton({
        text: "Continue",
        href: "telephone-number"
      }) }}
  </div>
</div>
{% endblock %}