{% extends "layout.html" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
  Good standing information
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "order-details"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/good-standing" method="post">
        {% if error  == true %}
          {{ govukErrorSummary({
              titleText: "There is a problem",
              errorList: errorList
          }) }}

          {{ govukRadios({
            classes: "govuk-radios--inline",
            idPrefix: "do-you-want-good-standing-information",
            name: "do-you-want-good-standing-information",
            fieldset: {
              legend: {
                text: "Do you want good standing information on the certificate?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            errorMessage: {
              text: "Select yes if you want good standing information on the certificate"
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}
        {% else %}
          {{ govukRadios({
              classes: "govuk-radios--inline",
            idPrefix: "do-you-want-good-standing-information",
            name: "do-you-want-good-standing-information",
            fieldset: {
              legend: {
                text: "Do you want good standing information on the certificate?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            items: [
              {
                value: "yes",
                text: "Yes"
              },
              {
                value: "no",
                text: "No"
              }
            ]
          }) }}
        {% endif %}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}