{% extends "layout.html" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
  Good standing information
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "CHS-signin"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/form-handler" method="post" novalidate>
        {{ govukRadios({
          idPrefix: "do-you-want-good-standing-information",
          name: "do-you-want-good-standing-information",
          fieldset: {
            legend: {
              text: "Do you want Good Standing information on the certificate?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue",
          href: "order-details"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}