{% extends "layout.html" %}

{% block pageTitle %}
Certificate information
{% endblock %}

{% set mainClasses = "govuk-main-wrapper--l" %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "choose-certificate-type"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

    {{ govukCheckboxes({
      idPrefix: "more-info",
      name: "more-info",
      fieldset: {
      legend: {
      text: "What information would you like to be included on the certificate?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  hint: {
    text: "Select all that apply."
  },
  items: [
    {
      value: "good-standing",
      text: "Good standing",
      hint: {
        text: "If the company is in a position of good standing then we will provide a Good standing statement on the certificate"
      }
    },
    {
      value: "registered-office",
      text: "Registered office address",
      hint: {
        text: "Current registered office address will be provided. Date not included."
      }
    },
    {
      value: "directors",
      text: "Directors",
      hint: {
        text: "All current directors names."
      }
    },
    {
      value: "secretaries",
      text: "Secretaries",
      hint: {
        text: "All current secretaries names."
      }
    },
    {
      value: "",
      text: "Objects",
      hint: {
        text: "This is the first few sentences of the company objects."
      }
    }
  ]
}) }}

{{ govukButton({
  text: "Continue",
  href: "delivery-extra-copy"
}) }}
</div>
</div>
{% endblock %}