
{% extends "layout.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/button/macro.njk" import govukButton %}


{% block pageTitle %}
  Tell us about delivery details
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/filing-history"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% call govukFieldset({
        legend: {
          text: "Delivery details",
          classes: "govuk-fieldset__legend--xl",
          isPageHeading: true
        }
      }) %}

      {{ govukInput({
        label: {
          text: "Full name"
        },
        id: "full-name",
        name: "full-name",
        autocomplete: "name",
        attributes: {
          spellcheck: "false"
        }
      }) }}

      {{ govukInput({
        label: {
        text: "Propery name or number"
      },
      hint: {
        text: "For example, 'The Mill', '116' or 'Flat 37a'"
      },
      classes: "govuk-input--width-10",
      id: "one-half",
      name: "one-half"
      }) }}

      {{ govukInput({
        label: {
          text: "Postcode"
        },
        classes: "govuk-input--width-10",
        id: "address-postcode",
        name: "address-postcode"
      }) }}

      {% from "govuk/components/button/macro.njk" import govukButton %}

      {{ govukButton({
        text: "Find address",
        classes: "govuk-button--secondary"
      }) }}

      <p class="govuk-body">
        <a href="#" class="govuk-link">Enter address manually</a>
      </p>

    {% endcall %}

    {{ govukButton({
      text: "Continue",
      href: "email"
    }) }}
  </div>
</div>
{% endblock %}