
{% extends "layout.html" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% block pageTitle %}
  Tell us about object details
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: ""
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    

    {{ govukRadios({
      idPrefix: "object-details",
      name: "object-details",
      fieldset: {
        legend: {
          text: "Would you like a summary of the Main Objects?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl"
        }
      },
      items: [
        {
          value: "objects-yes",
          text: "Yes"
        },
        {
          value: "objects-no",
          text: "No"
        }
      ]
    }) }}

    

    {{ govukButton({
      text: "Continue",
      href: ""
    }) }}
  </div>
</div>
{% endblock %}