
{% extends "layout.html" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}
  Tell us about order details
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "CHS-signin"
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Enter your name</h1>
      <span id="company-number-hint" class="govuk-hint">This is the name of the person making the order
  </span>
      <form action="/order-details" method="post">

        {% if errorFirstName  == true or errorLastName == true %}
            {{ govukErrorSummary({
              titleText: "There is a problem",
              errorList: errorList
            }) }}
          {% endif %}

        {% if errorFirstName  == true %}
          {{ govukInput({
            label: {
            text: "First name"
          },
          id: "first-name",
          name: "first-name",
          errorMessage: {
            text: "Enter your first name"
          }
          }) }}
        {% else %}
          {{ govukInput({
            label: {
            text: "First name"
          },
          id: "first-name",
          name: "first-name"
          }) }}
        {% endif %}
        
      {% if errorLastName  == true %}
        {{ govukInput({
          label: {
          text: "Last name"
        },
        id: "last-name",
        name: "last-name",
        errorMessage: {
            text: "Enter your last name"
          }
        }) }}
      {% else %}
        {{ govukInput({
          label: {
          text: "Last name"
        },
        id: "last-name",
        name: "last-name"
        }) }}
      {% endif %}
     
      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>  
{% endblock %}