
{% extends "layout.html" %}

{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Order a certificate
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/#view-all"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Order a certificate</h1>

      <p class="govuk-body-l">Use this service to order a signed certificate of incorporation for a company. </p>
      <P>You can include good standing information. Certificates must be delivered to a UK address. </p>

      <p class="govuk-body">Ordering a certificate takes around 5 minutes.</p>


      {{ govukButton({
        text: "Start now",
        href: "CHS-signin",
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
        isStartButton: true
      }) }}

      <h2 class="govuk-heading-m">Fee</h2>

      <p class="govuk-body">Certificates cost £15 for standard delivery (Royal Mail 2nd class) [time it takes for delivery?].</p>

      <p class="govuk-body"> You can pay by debit or credit card. You cannot pay using a Companies House account. </p>

    </div>
  </div>
{% endblock %}
