
{% extends "layout.html" %}

{% block pageTitle %}
  Payment review
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: ""
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl"> Review your order</h1>

      {% set paymentLabel %}
      Company certificate<br/>
      Stationary LTD (027389177)
      {% endset %}
      {{ govukTable({
        caption: "Items you are paying for",
        captionClasses: "govuk-visually-hidden",
        firstCellIsHeader: false,
        head: [
          {
            text: "Item"
          },
          {
            text: "Amount to pay",
            format: "numeric"
          }
        ],
        rows: [
          [
            {
              html: paymentLabel
            },
            {
              text: "£15",
              format: "numeric"
            }
          ]
        ]
      }) }}

      <h3 class="govuk-heading-m">The total amount to pay is &pound;15</h3>

      {{ govukButton({
        text: "Continue to payment",
        href: "https://products.payments.service.gov.uk/pay/b872ac7b77c34bab91dd65bfa349f46a"
      }) }}
    </div>
  </div>
{% endblock %}