
{% extends "layout.html" %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}
  Tell us about object details
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: ""
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

     {{ govukRadios({
      idPrefix: "secretaries-details-required",
      name: "secretaries-details-required",
      fieldset: {
        legend: {
          text: "What information about secretaries do you need?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl"
        }
      },
      items: [
        {
          value: "address",
          text: "Address"
        },
        {
          value: "occupation",
          text: "Occupation"
        },
        {
          value: "date-of-birth",
          text: "Date of birth"
        },
        {
          value: "appointment",
          text: "Appointment"
        },
        {
          value: "nationality",
          text: "Nationality"
        },
        {
          value: "residential-country",
          text: "Residential Country"
        }
      ]
    }) }}

    

    {{ govukButton({
      text: "Continue",
      href: ""
    }) }}
  </div>
</div>
{% endblock %}