
{% extends "layout.html" %}

{% block pageTitle %}
  Director details
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: ""
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/secretary-options" method="post">

      {{ govukCheckboxes({
        idPrefix: "secretary-options",
        name: "secretary-options",
        fieldset: {
          legend: {
            text: "What secretary information do you need?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "By default, if we have the current secretary information we will include the names of all current company secretaries. Select all that apply.
           "
        },
        items: [
          {
            value: "address",
            text: "Address"
          },
          {
            value: "occupation",
            text: "Occupation"
          },
          {
            value: "dob",
            text: "Date of birth (Month and Year)"
          },
          {
            value: "appointment",
            text: "Appointment date"
          },
          {
            value: "nationality",
            text: "Nationaility"
          },
          {
            value: "country-of-residence",
            text: "Country of residence"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

      </form>
  </div>
</div>  
{% endblock %}