{% extends "layout.html" %}

{% block pageTitle %}
  Shortcuts
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Order a certficate
      </h1>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Find a company
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/#view-all" aria-describedby="more-tab-completed">
                  More tab on company profile
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="more-tab-completed">Completed</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Order a certificate - Start now
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/order-a-certificate1-1" aria-describedby="start-now-completed">
                  Order a certificate release 1.1 (standard collection)
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="start-now-completed">Checking</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/order-a-certificate1-2" aria-describedby="start-now-completed">
                  Order a certificate release 1.2 (standard collect and post)
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="start-now-completed">Checking</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/order-a-certificate1-3" aria-describedby="start-now-completed">
                  Order a certificate release 1.3 (same day + standard collect and post)
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="start-now-completed">In progress</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/order-a-certificate2" aria-describedby="start-now-completed">
                  Order a certificate release 2 (email)
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="start-now-completed">In progress</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/order-a-certificate" aria-describedby="start-now-completed">
                  Order a certificate release 2.1 (Additonal copies)
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="start-now-completed">In progress</strong>
            </li>
          </ul>
        </li>

       <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Sign in to Companies House
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/CHS-signin" aria-describedby="login-completed">
                  Sign in to Companies House
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="login-completed">Follow exisiting services</strong>
            </li>
          </ul>
        </li>


        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Name, telephone number etc
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/order-details" aria-describedby="check-order-details-completed">
                  What is your name?
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Completed</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> Customising the order
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/good-standing" aria-describedby="good-standing-completed">
                  Do you want good standing information on the certificate?
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="contact-details-completed">Completed</strong>
            </li>
          </ul>
        </li>


        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">5. </span> Collection or postal delivery. Express or standard.
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/delivery-type" aria-describedby="delivery-type-completed">
                  How would you like to receive the certificate for A***?
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/delivery-time" aria-describedby="delivery-type-completed">
                  When would you like to recieve the certificate?
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Completed</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">6. </span> -> Collection
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/collection" aria-describedby="collection-completed">
                  Which Companies House office do you want to collect from?
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="collection-completed">Completed</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">7. </span> -> Delivery
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/delivery-address" aria-describedby="delivery-address-completed">
                  What are your delivery details?
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Completed</strong>
            </li>
          </ul>
        </li>
        
        

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">8. </span> Check your order details
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/check-details" aria-describedby="check-order-details-completed">
                  Check your order details
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Dynamic content</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">9. </span> Payment
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="payment-review" aria-describedby="review-your-order-completed">
                  Review your order
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">review title content</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="https://www.payments.service.gov.uk/card_details/dbp38bba6e6mpq7rfn0hdfkqmr" aria-describedby="pay-completed">
                  GOV.UK Pay
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Review summary content</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">10. </span> Confirmation
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/confirmation" aria-describedby="medical-information-completed">
                  Confirmation
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Add dynamic content</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">11. </span> Email options
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="medical-information-completed">
                  Collection + Standard
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Need to do</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="medical-information-completed">
                  Collection + Express
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Need to do</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="medical-information-completed">
                  Delivery + standard
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Need to do</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="medical-information-completed">
                  Delivery + Express
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Need to do</strong>
            </li>
          </ul>
        </li>


        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">12. </span> Error pages
          </h2>
          <ul class="app-task-list__items">

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="medical-information-completed">
                  User has not entered from Companies House Search
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Need to do</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/error-pages/service-not-available" aria-describedby="medical-information-completed">
                  Sorry, there is a problem with this service. (Payment pending, Payment in progress, Paid, No funds, failed, expired)
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Need to do</strong>
            </li>
            
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/error-pages/page-not-found" aria-describedby="medical-information-completed">
                  Page not found (Payment pending, Payment in progress, Paid, No funds, failed, expired)
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Need to do</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/error-pages/page-not-found" aria-describedby="medical-information-completed">
                  Payment declined (Payment pending, Payment in progress, Paid, No funds, failed, expired)
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Need to do</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/error-pages/page-not-found" aria-describedby="medical-information-completed">
                  We're experiencing technical problems (Payment pending, Payment in progress, Paid, No funds, failed, expired)
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Need to do</strong>
            </li>

          </ul>
        </li>



        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number"> </span> Error messages
          </h2>
          <ul class="app-task-list__items">

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="medical-information-completed">
                  Add error options here
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Need to do</strong>
            </li>

          </ul>
        </li>



      </ol>

    </div>
  </div>

{% endblock %}