{% extends "layout.html" %}

{% block pageTitle %}
  Shortcuts
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Order a certficate
      </h1>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Find a company
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/#view-all" aria-describedby="more-tab-completed">
                  Select Active or dissolved company - More tab on company profile
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="more-tab-completed">Completed</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> Order a certificate - Start now page ** Is there a bullet point list for start page items (confluence screenshot) **
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/order-a-certificate1-1" aria-describedby="start-now-completed">
                  Order a certificate release (standard delivery only)
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="start-now-completed">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/order-a-certificate-incorporation" aria-describedby="start-now-completed">
                  Order a certificate release (standard delivery and collection)
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="start-now-completed">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/order-a-certificate1-3" aria-describedby="start-now-completed">
                  Order a certificate release (express and standard service for delivery and collection)
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="start-now-completed">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/order-a-certificate2" aria-describedby="start-now-completed">
                  Order a certificate release (certificate via email)
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="start-now-completed">In progress</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/order-a-certificate" aria-describedby="start-now-completed">
                  Order a certificate release (additonal copies)
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="start-now-completed">In progress</strong>
            </li>
          </ul>
        </li>

       <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Sign in to Companies House
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/CHS-signin" aria-describedby="login-completed">
                  Sign in to Companies House
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="login-completed">Follow exisiting services</strong>
            </li>
          </ul>
        </li>


        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">4. </span> Customising the order
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/certificate-details-incorporation" aria-describedby="">
                  What information would you like to be included on the certificate?
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="contact-details-completed">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/registered-office-options" aria-describedby="">
                  --> What registered office address information do you need?
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="contact-details-completed">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/director-options" aria-describedby="good-standing-completed">
                  --> What director information do you need?
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="contact-details-completed">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/certificate-details-incorporation" aria-describedby="good-standing-completed">
                  --> What secretary information do you need?
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="contact-details-completed">Completed</strong>
            </li>
          </ul>
        </li>


        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">5. </span> Express or standard. Collection or postal delivery. 
          </h2>
          <ul class="app-task-list__items">
            
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/delivery-time-option" aria-describedby="delivery-type-completed">
                  When would you like to recieve the certificate? 
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Post live release</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/delivery-type" aria-describedby="delivery-type-completed">
                  How would you like to receive the certificate?
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Post live release</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/collection" aria-describedby="collection-completed">
                  Which Companies House office do you want to collect from?
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="collection-completed">Post live release</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/email-copy" aria-describedby="collection-completed">
                  Would you like a copy of the certificate sent to you by email?
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="collection-completed">Post live release</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/delivery-address-name" aria-describedby="delivery-address-completed">
                  What are your delivery details?
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Completed</strong>
            </li>

          </ul>
        </li>
        

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">8. </span> Check your order details
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/check-details-collection" aria-describedby="check-order-details-completed">
                  Check your order details (standard delivery)
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Completed</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/" aria-describedby="check-order-details-completed">
                  Check your order details (standard delivery and post)
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed"> TODO - Dynamic content</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/" aria-describedby="check-order-details-completed">
                  Check your order details (express and standard - delivery and post)
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed"> TODO - Dynamic content</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">9. </span> Payment
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="" aria-describedby="pay-completed">
                  GOV.UK Pay
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Completed</strong>
            </li>
          </ul>
        </li>
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">10. </span> Confirmation
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/confirmation" aria-describedby="medical-information-completed">
                  Confirmation (standard delivery)
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Completed</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/confirmation" aria-describedby="medical-information-completed">
                  Confirmation (standard delivery and post)
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">TODO - Dynamic content</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/confirmation" aria-describedby="medical-information-completed">
                  Confirmation (express and standard - delivery and post)
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">TODO - Dynamic content</strong>
            </li>

          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">11. </span> Email options
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="medical-information-completed">
                  Collection + Standard
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Need to do</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="medical-information-completed">
                  Collection + Express
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Need to do</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="medical-information-completed">
                  Delivery + standard
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Need to do</strong>
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="medical-information-completed">
                  Delivery + Express
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Need to do</strong>
            </li>
          </ul>
        </li>


        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">12. </span> Error pages
          </h2>
          <ul class="app-task-list__items">

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/error-pages/page-not-found" aria-describedby="medical-information-completed">
                  User has not entered from Companies House Search. Page not found.
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Completed</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/error-pages/start-order-again" aria-describedby="medical-information-completed">
                  Page not found. You will need to start the order again.
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Completed</strong>
            </li>
            
           

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/error-pages/payment-cancelled" aria-describedby="medical-information-completed">
                  Your payment has been cancelled.
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Completed</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/error-pages/payment-declined" aria-describedby="medical-information-completed">
                  Your payment has been declined.
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Completed</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="/error-pages/service-not-available" aria-describedby="medical-information-completed">
                  Sorry, there is a problem with this service.
                </a>
              </span>
              <strong class="govuk-tag app-task-list__task-completed" id="medical-information-completed">Completed</strong>
            </li>

          </ul>
        </li>




      </ol>

    </div>
  </div>

{% endblock %}