{% extends "layout.html" %}

{% set serviceName %}
  
{% endset%}

{% block pageTitle %}
  Order a certificate
{% endblock %}


{% block content %}

  {% set overviewHtml %}
  {% endset -%}

  
  <h1 class="govuk-heading-l">Order a certificate</h1>
  <h2 class="govuk-heading-s">Active company</h2>

  {{ govukButton({
  text: "Active company certificate",
  classes: "govuk-button--secondary",
  href:"more-tab-active-company"
  }) }}


  <h3 class="govuk-heading-s">Dissolved company</h3>

  {{ govukButton({
  text: "Dissolved company certificate",
  classes: "govuk-button--secondary",
  href:"more-tab-dissolved-company"
  }) }}

  

{% endblock %}